@import "tailwindcss";
@import "@nuxt/ui";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: 'Pacifico';
    src: url('~/assets/fonts/Pacifico-Regular.ttf') format('opentype');
}

@media (max-width: 767px) {
    body {
        position:fixed;
    }
}